
<ion-content class="blog">

  <ion-item class="card"  >
  <ion-avatar slot="start">
    <ion-icon class="symbol" name="bar-chart-outline"></ion-icon>
    <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
  </ion-avatar>
  <ion-label>Dashboard</ion-label>
</ion-item>

<ion-item class="card">
  <ion-avatar slot="start">
    <ion-icon class="symbol" name="time-outline"></ion-icon>
    <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
  </ion-avatar>
  <ion-label>Real-time Monitoring</ion-label>
</ion-item>

<ion-item class="card">
  <ion-avatar slot="start">
    <ion-icon class="symbol" name="radio-outline"></ion-icon>
    <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
  </ion-avatar>
  <ion-label>Sensor IoT</ion-label>
</ion-item>
<ion-item class="card">
  <ion-avatar slot="start">
    <ion-icon class="symbol" name="cloud-offline-outline"></ion-icon>
    <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
  </ion-avatar>
  <ion-label>Offline Reporting</ion-label>
</ion-item>
<ion-item class="card">
  <ion-avatar slot="start"><ion-icon class="symbol" name="notifications-outline"></ion-icon>
    <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
  </ion-avatar>
  <ion-label>Alerts and Notifications</ion-label>
</ion-item>
<ion-item class="card">
  <ion-avatar slot="start"><ion-icon class="symbol" name="telescope-outline"></ion-icon>
    <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
  </ion-avatar>
  <ion-label>Error Monitoring</ion-label>
</ion-item>
<ion-item class="card">
  <ion-avatar slot="start"><ion-icon class="symbol" name="archive-outline"></ion-icon>
    <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
  </ion-avatar>
  <ion-label>Diagnostics</ion-label>
</ion-item>
<ion-item class="card">
  <ion-avatar slot="start"><ion-icon class="symbol" name="checkmark-outline"></ion-icon>
    <!-- <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"> -->
  </ion-avatar>
  <ion-label>User Approved</ion-label>
</ion-item>
</ion-content>
