<div class="fgtpwd">  
<h1>Forgot My Password</h1>
<div class="text"><p class="desc">Enter Your credentials below and click Send. An e-mail with a link to a page where you can reset your Password will be sent. Note that the e-mail might take a few minutes to reach your inbox.</p>
</div>
<ion-item class="inputs">
  <ion-label position="fixed">Email*</ion-label>
  <!-- <ion-input class="input1 ion-justify-content-center ion-text-center inputRx native-input sc-ion-input-md" ></ion-input> -->
  <ion-input class='input1' ></ion-input>
</ion-item>
<ion-label class="mark" position="fixed">*Required</ion-label>

<ion-fab class="submit" >
  <button ion-button   class="button" >Send</button>

 
</ion-fab>
</div>