<div class="content">
 
  <hr>
  <div class="blog1">
<!--     
  <ion-item>
    <ion-label position="stacked">User name</ion-label>
    <ion-input placeholder="User name"></ion-input>
  </ion-item>
  
  
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input placeholder="Password"></ion-input>
  </ion-item> -->
  
  </div>
  <hr>
<div class="blog2">
  <div class="blog-content">
  <h1>Login</h1>
<ion-item>
  <ion-label position="stacked">User name</ion-label>
  <ion-input class="textbox" placeholder="User name"></ion-input>
</ion-item>


<ion-item>
  <ion-label position="stacked">Password</ion-label>
  <ion-input placeholder="Password"></ion-input>
</ion-item>
<div class="check">
<input type='checkbox'><label>Remember me</label>
</div>
<ion-fab class="submit" >
  <button ion-button color="primary"  class="button" >Login</button>
</ion-fab>

<ion-item-divider></ion-item-divider>

<ion-fab class="submit" >
  <button ion-button   class="Register" >Register</button>
</ion-fab>
<a class='text' target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Forgot Password ?</a>
<!-- <p >Forgot Password ?</p> -->
</div>
</div>

</div>
