<h1>Registration</h1>

<p>
  Tell us about yourself
</p>

<div class="inputs">
  <div class="input1">
  <ion-item class="inputbox">
    <ion-label position="fixed" class='inputtitle' >First Name</ion-label>
    <ion-input class="inputfield"></ion-input>
  </ion-item></div>
  <div class="input1">
<ion-item class="inputbox">
    <ion-label position="fixed" class='inputtitle'>Last Name*</ion-label>
    <ion-input class="inputfield"></ion-input>
  </ion-item></div>
  <div class="input1">
<ion-item class="inputbox">
    <ion-label position="fixed" class='inputtitle'>Email*</ion-label>
    <ion-input class="inputfield"></ion-input>
  </ion-item></div>
  <div class="input1">
<ion-item class="inputbox">
    <ion-label position="fixed" class='inputtitle'>Phone*</ion-label>
    <ion-input ng-model="countryCode" class="inputfield"></ion-input>
  </ion-item></div>

</div>
<p>Set Password</p>
<div class="inputs">
  <div class="input1">
  <ion-item class="inputbox">
    <ion-label position="fixed" class='inputtitle'>Password*</ion-label>
    <ion-input class="inputfield"></ion-input>
  </ion-item></div>
  <div class="input1">

  <ion-item class="inputbox">
    
    <ion-label class='inputtitle'>Re-Enter Password*</ion-label>
    <ion-input class="inputfield"></ion-input>
  </ion-item></div>

</div>

<ion-fab class="submit" >
  <button ion-button   class="button" >Register</button>

 
</ion-fab>